@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.navBarMod {
  background: linear-gradient(115deg, #00063b, #0010a3);
  border-bottom: 0.5px solid #000;
}
.navBarMod #añadirCurso,
.navBarMod #eliminarCurso,
.navBarMod #guardarCurso,
.navBarMod #buscarCurso,
.navBarMod #buscarAlumno,
.navBarMod #iniciarSesion,
.navBarMod #crearUsuario,
.navBarMod #cerrarSesion {
  font-size: 1.5rem;
  color: #fff;
}

main .leftCol {
  border: 0.5px solid #000;
}
main .leftCol p {
  font-size: 1.2rem;
}
main .rightCol {
  border: 0.5px solid #000;
}
main .rightCol p {
  font-size: 1.2rem;
}

.cajaCurso {
  width: 100%;
  color: #000;
  font-family: "Montserrat";
}

#crearCurso {
  display: none;
}

body {
  background: #c1c1c1;
}

#deleteForm .holder1 {
  border: 2px solid blue;
}

.bordeRojo {
  border: 1px solid red;
}

.footer {
  background: linear-gradient(115deg, #00063b, #0010a3);
}
.footer div p {
  color: #fff;
}