.navBarMod {
    background: linear-gradient(115deg, #00063b, #0010a3);
    border-bottom: 0.5px solid #000;

    #añadirCurso,
    #eliminarCurso,
    #guardarCurso,
    #buscarCurso,
    #buscarAlumno,
    #iniciarSesion,
    #crearUsuario,
    #cerrarSesion {
        font-size: 1.5rem;
        color: #fff;
    }
}

main {
    .leftCol {
        border: 0.5px solid #000;
        p {
            font-size: 1.2rem;
        }
    }

    .rightCol {
        border: 0.5px solid #000;
        p {
            font-size: 1.2rem;
        }
    }

}

.cajaCurso {
    width: 100%;
    color: #000;
    font-family: "Montserrat";
}

#crearCurso {
    display: none;
}

body {
    background: #c1c1c1;
}

#deleteForm{
    // border: 1px solid red;
    .holder1 {
        border: 2px solid blue;
    }
}

.bordeRojo {
    border: 1px solid red;
}
